* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "technology";
    src: url("./assets/technology/Technology-Bold.ttf");
}

body {
    font-family: "Space Grotesk", sans-serif;
    margin: 10% 5%;
    padding: 4px;
    /* border: 2px dotted red; */
}

#scoreboard-container{
    height: 400px; /* I must increase this height when I unhide timer and game buttons elements */
    border-radius: 8px;
    background-color: #00072D;
    position: relative;
    padding: 5px;
    align-content: center; /* I must hide this when I unhide timer and game buttons elements */
}

#timer{
    width: fit-content;
    padding: 15px;
    align-items: center;
    text-align: center;
    margin: auto;
    font-size: 15px;
    color: #FEFEFE;
    background-color: #001C55;
    border-radius: 7px;
    /* border: 1px dotted red; */
}

#scoreboard {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding: 5px;
    /* border: 1px solid blue; */
}

span {
    width: 100%;
    /* border: 1px dashed black; */
}

#hometeam, #awayteam, .btn-container {
    display: block;
    text-align: center;
    align-content: center;
    margin: 35px auto;
}

#hometeam, #awayteam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "technology";
    width: 200px;
    height: 210px; 
    border-radius: 6px;
    font-size: 5em;
    background-color: #001C55;
    color: #FEFEFE;
    /* border: 1px solid red; */
}

#hometeam > img, #awayteam img {
    /* border: 1px solid white; */
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/* score buttons */
.btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: fit-content;
    padding: 10px;
    margin: 0 auto;
    /* border: 1px dashed blue; */
}

button {
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 45px;
    border: none;
    border-radius: 6px;
    font-size: 0.88em;
    /* border: 1px dotted red; */
}

.btn-container button:hover {
    scale: 1.1;
    background-color: #03440C;
    color: #FEFEFE;
}

/* start/end game buttoms */
#game-btns {
    display: flex;
    justify-content: center;
    padding: 15px;
    bottom: 0;
    position: absolute;
}

#start-game, #end-game, #timeout {
    width: 100px;
    margin: 0 10px;
}

#end-game {
    background-color: #880808;
}

#end-game:hover {
    color: #FEFEFE;
}


